.cover {
  background-image: url("../img/cover.jpg");
  height: 500px;
  background-position: center 40%;
  background-size: cover;
}

.search_bar {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
