a {
  text-decoration: none !important;
  color: black !important;
}

.products_img {
  object-fit: cover;
  height: 400px;
  width: 400px;
}

/* //navdropdown */
.dropdown-toggle::after {
  color: white !important;
}

.dropdown-menu[data-bs-popper] {
  left: -304px !important;
}

.cart_icon {
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 2;
}

.login {
  height: 100vh !important;
  display: flex;
  align-items: center;
  width: 100%;
}
.blob {
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    color: #7de64d;
  }

  70% {
    transform: scale(1.5);
    color: #499c23;
  }

  100% {
    transform: scale(1);
    color: #48a01f;
  }
}

/* react slick */

/* //terms and condition */

.page {
  padding: 50px 80px;
  margin: 50px;
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  max-width: 800px;
  min-width: 500px;
}

#terms-and-conditions {
  font-size: 14px;
}

h1 {
  font-size: 34px;
}

ol {
  counter-reset: item;
}

li {
  display: block;
  margin: 20px 0;
  position: relative;
}

li:before {
  position: absolute;
  top: 0;
  margin-left: -50px;
  color: magenta;
  content: counters(item, ".") "    ";
  counter-increment: item;
}

/* //dropdown fix */

.dropdown-menu[data-bs-popper] {
  left: -30px !important;
}

/* //////////////////////////////virtual card////////////// */

.info {
  margin: 0.5em 0;
  font-size: 1.25em;
  color: #fff;
  text-shadow: 0 0 0.5em #000;
}

.input-phone {
  display: block;
  margin: 2em auto;
  padding: 0.5em 0.25em;
  border: none;
  border-radius: 0.2em;
  font-size: 1.5em;
  text-align: center;
  box-shadow: 0 0 1em 0.25em rgba(0, 0, 0, 0.2);
}
